Samples/WebServicesDevicesApi/FileServiceSecure/cpp/FileServiceSecureContract/FileServiceSecure.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:wsap10="http://www.w3.org/2005/08/addressing"
        xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/09/policy/addressing"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
        xmlns:tns="http://www.example.com/ncd/FileServiceSecure"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
        xmlns:wsa10="http://www.w3.org/2005/08/addressing"
        xmlns:wse="http://schemas.xmlsoap.org/ws/2004/08/eventing"
        targetNamespace="http://www.example.com/ncd/FileServiceSecure"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <!-- ************************************************************ -->
    <!-- THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY OF
         ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO
         THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A
         PARTICULAR PURPOSE.

         Copyright (c) Microsoft Corporation. All rights reserved
     -->
    <!-- ************************************************************ -->

    <!-- ************************************************************ -->
    <!-- The following types section describes the format of types
         as they cross the wire as XML.  Changes to these types will
         affect the structures generated by WsdCodeGen.
     -->
    <!-- ************************************************************ -->
    <wsdl:types>
        <xs:schema
                xmlns:tns="http://www.example.com/ncd/FileServiceSecure"
                elementFormDefault="qualified"
                targetNamespace="http://www.example.com/ncd/FileServiceSecure"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">

            <xs:simpleType name="FileChangeEventType">
                <xs:restriction base="xs:NMTOKEN">
                    <xs:maxLength value="25"/>
                    <xs:enumeration value="Added"/>
                    <xs:enumeration value="Removed"/>
                    <xs:enumeration value="Modified"/>
                    <xs:enumeration value="RenamedOldName"/>
                    <xs:enumeration value="RenamedNewName"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:element name="GetFileRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="filePath" nillable="false" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetFileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Attachment" type="xsd:base64Binary" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetFileListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="FileList" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="FileChangeEvent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="EventType" type="tns:FileChangeEventType" />
                        <xs:element name="FileName" type="xsd:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </wsdl:types>

    <!-- ************************************************************ -->
    <!-- The following messages section describes how the types are
         assembled into messages.  These messages are referenced in
         the operations listed in the portType section, below.
     -->
    <!-- ************************************************************ -->
    <wsdl:message name="FileServiceSecure_GetFile_InputMessage">
        <wsdl:part name="parameters" element="tns:GetFileRequest" />
    </wsdl:message>

    <wsdl:message name="FileServiceSecure_GetFile_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetFileResponse" />
    </wsdl:message>

    <wsdl:message name="FileServiceSecure_GetFileList_InputMessage">
    </wsdl:message>

    <wsdl:message name="FileServiceSecure_GetFileList_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetFileListResponse" />
    </wsdl:message>

    <wsdl:message name="FileServiceSecure_FileChangeEvent_OutputMessage">
        <wsdl:part name="result" element="tns:FileChangeEvent" />
    </wsdl:message>

    <!-- ************************************************************ -->
    <!-- The portType section organizes messages into operations.
         The FileServiceSecure type is advertised by a service on a device;
         the device itself does not advertise this type.
     -->
    <!-- ************************************************************ -->
    <wsdl:portType wse:EventSource="true" msc:usingSession="false" name="FileServiceSecure">

        <wsdl:operation name="GetFileList">
            <wsdl:input
                wsa:Action="http://www.example.com/ncd/FileServiceSecure/GetFileList"
                message="tns:FileServiceSecure_GetFileList_InputMessage" />
            <wsdl:output
                wsa:Action="http://www.example.com/ncd/FileServiceSecure/GetFileListResponse"
                message="tns:FileServiceSecure_GetFileList_OutputMessage" />
        </wsdl:operation>
       
        <wsdl:operation name="GetFile">
            <wsdl:input
                wsa:Action="http://www.example.com/ncd/FileServiceSecure/GetFile"
                message="tns:FileServiceSecure_GetFile_InputMessage" />
            <wsdl:output
                wsa:Action="http://www.example.com/ncd/FileServiceSecure/GetFileResponse"
                message="tns:FileServiceSecure_GetFile_OutputMessage" />
        </wsdl:operation>

        <wsdl:operation name="FileChangeEvent">
            <wsdl:output
                wsa:Action="http://www.example.com/ncd/FileServiceSecure/FileChangeEvent"
                message="tns:FileServiceSecure_FileChangeEvent_OutputMessage" />
        </wsdl:operation>

    </wsdl:portType>

    <!-- ************************************************************ -->
    <!-- This empty portType is used in WS-Discovery messages to
         indicate that the device supports the FileServiceSecure service.
         This type does not describe any operations, and is not
         advertised by the service on the device which hosts the
         FileServiceSecure portType.
     -->
    <!-- ************************************************************ -->
    <wsdl:portType name="FileDeviceSecure" />

</wsdl:definitions>
