Samples/Win7Samples/web/wsdapi/fileservice/fileservicecontract/FileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:wsap10="http://www.w3.org/2005/08/addressing"
        xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/09/policy/addressing"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
        xmlns:tns="http://www.example.com/ncd/FileService"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
        xmlns:wsa10="http://www.w3.org/2005/08/addressing"
        xmlns:wse="http://schemas.xmlsoap.org/ws/2004/08/eventing"
        targetNamespace="http://www.example.com/ncd/FileService"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <!-- ************************************************************ -->
    <!-- THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY OF
         ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO
         THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A
         PARTICULAR PURPOSE.

         Copyright (c) Microsoft Corporation. All rights reserved
     -->
    <!-- ************************************************************ -->

    <!-- ************************************************************ -->
    <!-- The following types section describes the format of types
         as they cross the wire as XML.  Changes to these types will
         affect the structures generated by WsdCodeGen.
     -->
    <!-- ************************************************************ -->
    <wsdl:types>
        <xs:schema
                xmlns:tns="http://www.example.com/ncd/FileService"
                elementFormDefault="qualified"
                targetNamespace="http://www.example.com/ncd/FileService"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">

            <xs:simpleType name="FileChangeEventType">
                <xs:restriction base="xs:NMTOKEN">
                    <xs:maxLength value="25"/>
                    <xs:enumeration value="Added"/>
                    <xs:enumeration value="Removed"/>
                    <xs:enumeration value="Modified"/>
                    <xs:enumeration value="RenamedOldName"/>
                    <xs:enumeration value="RenamedNewName"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:element name="GetFileRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="filePath" nillable="false" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetFileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Attachment" type="xsd:base64Binary" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetFileListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="FileList" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="FileChangeEvent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="EventType" type="tns:FileChangeEventType" />
                        <xs:element name="FileName" type="xsd:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </wsdl:types>

    <!-- ************************************************************ -->
    <!-- The following messages section describes how the types are
         assembled into messages.  These messages are referenced in
         the operations listed in the portType section, below.
     -->
    <!-- ************************************************************ -->
    <wsdl:message name="FileService_GetFile_InputMessage">
        <wsdl:part name="parameters" element="tns:GetFileRequest" />
    </wsdl:message>

    <wsdl:message name="FileService_GetFile_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetFileResponse" />
    </wsdl:message>

    <wsdl:message name="FileService_GetFileList_InputMessage">
    </wsdl:message>

    <wsdl:message name="FileService_GetFileList_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetFileListResponse" />
    </wsdl:message>

    <wsdl:message name="FileService_FileChangeEvent_OutputMessage">
        <wsdl:part name="result" element="tns:FileChangeEvent" />
    </wsdl:message>

    <!-- ************************************************************ -->
    <!-- The portType section organizes messages into operations.
         The FileService type is advertised by a service on a device;
         the device itself does not advertise this type.
     -->
    <!-- ************************************************************ -->
    <wsdl:portType wse:EventSource="true" msc:usingSession="false" name="FileService">

        <wsdl:operation name="GetFileList">
            <wsdl:input
                wsa:Action="http://www.example.com/ncd/FileService/GetFileList"
                message="tns:FileService_GetFileList_InputMessage" />
            <wsdl:output
                wsa:Action="http://www.example.com/ncd/FileService/GetFileListResponse"
                message="tns:FileService_GetFileList_OutputMessage" />
        </wsdl:operation>
       
        <wsdl:operation name="GetFile">
            <wsdl:input
                wsa:Action="http://www.example.com/ncd/FileService/GetFile"
                message="tns:FileService_GetFile_InputMessage" />
            <wsdl:output
                wsa:Action="http://www.example.com/ncd/FileService/GetFileResponse"
                message="tns:FileService_GetFile_OutputMessage" />
        </wsdl:operation>

        <wsdl:operation name="FileChangeEvent">
            <wsdl:output
                wsa:Action="http://www.example.com/ncd/FileService/FileChangeEvent"
                message="tns:FileService_FileChangeEvent_OutputMessage" />
        </wsdl:operation>

    </wsdl:portType>

    <!-- ************************************************************ -->
    <!-- This empty portType is used in WS-Discovery messages to
         indicate that the device supports the FileService service.
         This type does not describe any operations, and is not
         advertised by the service on the device which hosts the
         FileService portType.
     -->
    <!-- ************************************************************ -->
    <wsdl:portType name="FileDevice" />

    <!-- ************************************************************ -->
    <!-- The Devices Profile for Web Services (DPWS) defines the HTTP
         binding outlined below.  Because WsdCodeGen is only used for
         DPWS applications, WsdCodeGen ignores all binding sections
         and assumes the binding in DPWS will be used.  The following
         binding section is provided only as an example.
     -->
    <!-- ************************************************************ -->
    <wsdl:binding name="FileServiceSoapBinding" type="FileService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetFileList">
            <soap:operation soapAction="http://www.example.com/GetFileList"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetFile">
            <soap:operation soapAction="http://www.example.com/GetFile"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="FileChangeEvent">
            <soap:operation soapAction="http://www.example.com/FileChangeEvent"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
