Samples/Win7Samples/web/wsdapi/stockquote/stockquotecontract/stockquote.xsd

<xs:schema 
    targetNamespace="http://example.com/stockquote/schemas" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.w3.org/2000/10/XMLSchema">

  <!-- ************************************************************ -->
  <!-- The following section describes the format of types as they
       cross the wire as XML.  Changes to these types will affect
       the structures generated by WsdCodeGen.
    -->
  <!-- ************************************************************ -->
  <xs:element name="TradePriceRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="tickerSymbol" type="xs:string"/>                
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="TradePrice">
    <xs:complexType>
      <xs:all>
        <xs:element name="price" type="xs:float"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
