Samples/WebServices/WcfPublicServiceClient/cpp/tempuri.org.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="HelloWorldService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://131.107.72.15/Example_HelloWorld_Service_Indigo/HelloWorld.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://131.107.72.15/Example_HelloWorld_Service_Indigo/HelloWorld.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHelloWorldService_Greeting_InputMessage">
    <wsdl:part name="parameters" element="tns:Greeting" />
  </wsdl:message>
  <wsdl:message name="IHelloWorldService_Greeting_OutputMessage">
    <wsdl:part name="parameters" element="tns:GreetingResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloWorldService_PersonalizedGreeting_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonalizedGreeting" />
  </wsdl:message>
  <wsdl:message name="IHelloWorldService_PersonalizedGreeting_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonalizedGreetingResponse" />
  </wsdl:message>
  <wsdl:portType name="IHelloWorldService">
    <wsdl:operation name="Greeting">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloWorldService/Greeting" message="tns:IHelloWorldService_Greeting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloWorldService/GreetingResponse" message="tns:IHelloWorldService_Greeting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonalizedGreeting">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloWorldService/PersonalizedGreeting" message="tns:IHelloWorldService_PersonalizedGreeting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloWorldService/PersonalizedGreetingResponse" message="tns:IHelloWorldService_PersonalizedGreeting_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHelloWorldService" type="tns:IHelloWorldService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Greeting">
      <soap:operation soapAction="http://tempuri.org/IHelloWorldService/Greeting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonalizedGreeting">
      <soap:operation soapAction="http://tempuri.org/IHelloWorldService/PersonalizedGreeting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloWorldService">
    <wsdl:port name="BasicHttpBinding_IHelloWorldService" binding="tns:BasicHttpBinding_IHelloWorldService">
      <soap:address location="http://131.107.72.15/Example_HelloWorld_Service_Indigo/HelloWorld.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
